<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">{% for socialmedia in site.social %}
            {% if socialmedia.url == nil %}{% assign url = socialmedia.platform | append: ".com" %}{% else %}{% assign url = socialmedia.url %}{% endif %}
            <a href="https://{{ url }}/{{ socialmedia.user }}">
              <span class="icon icon--{{ socialmedia.platform }}">
                <img src="{{ site.baseurl }}/img/36/{{ socialmedia.platform }}-icon.png" />
              </span>
            </a>{% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-right">
        <h2 class="footer-heading">{{ site.title }}</h2>
      </div>
    </div>

  </div>

</footer>
